body {
    padding-top: 3rem;
}
.main{
	padding: 3rem 1.5rem;
	text-align: center;
}
span.read{
	color:gray;
}
.article-links{
	display: block;
	font-size: 0.75rem;
}
.article-links a{
	padding-right: .2rem;
}